.h3_1 {
    font-weight:bold;
    margin-left:35%;
}
.text_1 {
    margin-left:35%;
}

.h3_2 {
    font-weight:bold;
    margin-left:2%;
}

.text_2 {
    
    margin-left:2%;
}

.h3_3 {
    font-weight:bold;
    margin-left:55%;
}

.text_3 {

    
    margin-left:55%;
}

.h3_4 {
    margin-left:2%;
}
.text_4 {
    margin-left:2%;
}